body{
    background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3) );
    background-image: url(paper.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    min-height: 99vh;
}